* {
    box-sizing: border-box;
}

header {
    background-color: red;
    width: 99%;
    margin: 0.5 auto;
    padding: 1% 10%;
    font-size: 18pt;
}

header > img {
    display: block;
    width: 20%;
    margin: 1% auto;
}

header > h1 {
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

/*p {
    font-family: "Ubuntu Sans", sans-serif;
}
*/

nav {
    background-color: #1300AA66;
    width: 100%;
    position: sticky;
    top: 0;
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav > ul > li {
    line-height: 1.3rem;
}